.front {
  height: 100vh;
  font-family: $font-logo;
  background: url("/assets/images/front.jpg");
  background-attachment: cover;

  li {
    color: $white;
    background-color: #d5843e88;

    h1 {
      margin: 0;
      font-size: 1.2rem;
    }

    h4 {
      font-family: sans-serif;
      font-size: 1rem;
    }
  }

  ul {
    padding: 14rem 2rem;
    margin: 0;
    list-style-type: none;
  }
}

@supports (display:grid) {
  .front {

    li {
      display: flex;
      grid-row: auto / span 1;
      grid-column: auto / span 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    @media (min-width: 1280px) {
      ul {
        display: grid;
        padding: 0;
        margin: 0;
        list-style-type: none;
        grid-template-columns: repeat(6, 15vw);
        grid-template-rows: repeat(8, 5vw) 1fr;
        grid-gap: 1vw;
      }

      li:nth-child(1) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }
      li:nth-child(2) {
        grid-row: 3 / 4;
        grid-column: 6 / 7;
      }
      li:nth-child(3) {
        grid-row: 4 / 5;
        grid-column: 3 / 4;
      }
      li:nth-child(4) {
        grid-row: 5 / 6;
        grid-column: 5 / 6;
      }
      li:nth-child(5) {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
      }
      li:nth-child(6) {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
      }
    }

    @media (min-width: 768px) and (max-width: 1280px) {
      ul {
        display: grid;
        padding: 5rem 2rem;
        margin: 0;
        list-style-type: none;
        grid-template-columns: repeat(6, 15vw);
        grid-template-rows: repeat(6, 8vw) 1fr;
        grid-gap: 1vw;
      }

      li:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
      }
      li:nth-child(2) {
        grid-row: 2 / 3;
        grid-column: 5 / 7;
      }
      li:nth-child(3) {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
      }
      li:nth-child(4) {
        grid-row: 4 / 5;
        grid-column: 4 / 6;
      }
      li:nth-child(5) {
        grid-row: 5 / 6;
        grid-column: 1 / 3;
      }
      li:nth-child(6) {
        grid-row: 6 / 7;
        grid-column: 3 / 5;
      }
    }
  }
}
