
$font-logo: "Shrikhand";
.logo {
  font-family: $font-logo;
  font-size: 2em;

  img {
    margin-right: 5px;
    color: #846142;
  }
}

.post-cover {
  position: relative;
  height: 50vh;

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


$spacer: 1rem;

.circle-list {
  padding-left: $spacer;
  list-style: none;
  counter-reset: circle-counter;
}

.circle-list-item  {
  margin-bottom: $spacer * .25;
  counter-increment: circle-counter;

  &::before {
    position: relative;
    top: -2px;
    display: inline-block;
    width: $font-size-base * 1.5;
    height: $font-size-base * 1.5;
    margin-right: $spacer * .5;
    font-size: $font-size-base * .75;
    line-height: $font-size-base * 1.5;
    text-align: center;
    content: counter(circle-counter);
    border: 1px solid $secondary;
    border-radius: 50%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
