@use "sass:color";

@font-face {
  font-family: Shrikhand;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Shrikhand-Regular.ttf");
}

/* devanagari */
@font-face {
  font-family: Hind;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/Hind-Light.ttf");
}
@font-face {
  font-family: Hind;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Hind-Regular.ttf");
}
@font-face {
  font-family: Hind;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Hind-Medium.ttf");
}
@font-face {
  font-family: Hind;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/Hind-SemiBold.ttf");
}
@font-face {
  font-family: Hind;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Hind-Bold.ttf");
}

$font-family-sans-serif: "Hind", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
